@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: fallback;
}

:root {
}

* {
  font-family: "Onest", "Arial", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section.no-padding {
  padding: 0;
}

button {
  border: none;
  background: none;
}

a,
a:visited {
  font-size: min(2rem, 2dvh);
  color: #3e8de9;
  text-decoration: none;
}

address {
  font-style: normal;
}

header {
  height: min(9dvh, 19dvw);
  width: 100%;
}

nav {
  padding: min(4%, 2dvh) 8%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
}

.nav-button {
  width: min(6%, 2.75dvh);
}

.nav-button img {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

hr {
  border: none;
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: min(3.25dvh, 4.5rem);
}

.screen-info {
  display: flex;
  flex-direction: column;
  gap: min(4%, 2dvh);
  padding: min(6%, 6dvh);
}

#main-title {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: min(5%, 5dvh) 1%;
}

#main-title p {
  font-size: min(3rem, 2.5dvh);
  font-weight: 300;
}

#main-title h1 {
  font-size: min(4rem, 3dvh);
  font-weight: 800;
  color: #3e8de9;
}

#main-title-background {
  width: 100%;
  max-height: 46.5%;
}

#main-title-delimiter {
  width: 100%;
  max-height: 20%;
}

#main-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: min(2dvh, 1dvw);
}

#routes-buttons {
  padding: min(7%, 7dvw);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: min(2dvw, 2dvh);
}

#routes-buttons button {
  padding: min(2%, 1dvh);
  height: min(13.5dvh, 28.5dvw);
}

#routes-buttons button:first-child {
  background-image: linear-gradient(to right, #5eb2ef, #8942f0);
  padding-block: min(4%, 2dvh);
  flex-direction: row;
  grid-column: span 2;
  height: auto;
}

#routes-buttons button:first-child p {
  color: #fff;
}

#routes-buttons button:first-child img {
  height: max(77.7%, 2dvw);
}

#main-buttons button,
#routes-buttons button {
  padding: min(4%, 1dvh);
  background-color: rgba(210, 210, 210, 0.28);
  border-radius: min(3rem, 2dvh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(2dvw, 2dvh);
  color: #3f3f3f;
}

#main-buttons button p {
  font-size: min(2rem, 2dvh);
}

#main-buttons button img {
  height: max(25%, 7dvw);
}

#routes-buttons button img {
  height: max(20%, 2dvw);
}

#routes-button {
  grid-column: span 2;
}

main section:first-child {
  height: 91dvh;
}

#main-section {
  display: grid;
  grid-template-rows: 56% auto;
  background-image: radial-gradient(
    circle at 125% 35%,
    rgba(112, 157, 207, 0.5),
    #fff 40%
  );
}

footer {
  background-color: #282828;
  padding: min(6%, 3dvh) 1%;
  display: flex;
  flex-direction: column;
  gap: min(2dvw, 1dvh);
}

footer a {
  display: block;
}

#footer-info {
  font-size: min(2rem, 2dvh);
  color: #878787;
  padding-block: min(2dvw, 1dvh);
}

#footer-info p {
  text-align: center;
}

#footer-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: min(2dvw, 1dvh);
  color: #fff;
}

.footer-info-block p {
  text-align: center;
  font-size: min(2.25rem, 2.25dvh);
}

.footer-info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(2%, 1dvh);
  padding: min(2%, 1dvh);
}

.as-link {
  color: #3e8de9;
  font-size: min(1.75rem, 1.75dvh);
}

#about-section,
#payment-info-section,
#jobs-section {
  justify-content: space-between;
}

section h1 {
  font-size: min(5rem, 4.5dvh);
}

section p,
section li,
section button,
section div {
  font-size: min(2.5rem, 2.5dvh);
  color: #323232;
}

#about-text {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 2dvh;
}

#about-info {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 2dvh;
}

#about-info button,
fieldset button {
  padding: min(5%, 1.25dvh) min(4%, 1dvh);
  background-color: #3e8de9;
  border-radius: min(1.5rem, 1dvh);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

#about-info button img,
fieldset button img {
  height: min(1.75rem, 1.75dvh);
}

ul {
  list-style-position: inside;
  padding-inline-start: min(4%, 1dvh);
}

#about-gallery {
  border-radius: min(3rem, 2dvh);
  position: relative;
  overflow: hidden;
}

#about-gallery-carousel {
  position: absolute;
  width: fit-content;
}

#payment-info-section,
#about-section,
#jobs-section {
  min-height: 90dvh;
}

#payment-info {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 2dvh;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  gap: max(0.5dvh, 0.5dvw);
}

#routes-tabs-wrapper {
  padding: min(7.5%, 7.5dvh);
}

.routes-tab {
  border-style: solid;
  border-color: rgba(238, 16, 16, 0.5);
  border-width: max(2px, 0.2dvh);
  border-radius: min(6.5dvw, 3dvh);
  background-color: rgba(238, 16, 16, 0.05);
  padding: min(4%, 2dvh);
  display: flex;
  justify-content: space-between;
  gap: 3.8dvw;
  height: min(26dvw, 13dvh);
}

.routes-tab-route {
  display: flex;
  gap: min(3.8dvw, 1.8dvh);
}

.routes-tab-number {
  padding: min(3.5dvw, 1.5dvh);
  width: min(26.7dvw, 12.7dvh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 68, 86, 0.2);
  border-radius: min(6.5dvw, 3dvh);
}

.routes-tab-status {
  display: flex;
  align-items: center;
}

.routes-tab-status p {
  color: #000;
  font-size: min(3.5rem, 3dvh);
}

.routes-tab img {
  width: min(8%, 3dvh);
}

.inactive {
  opacity: 0.6;
}

.tab {
  background-color: #ccdcee;
  border-radius: min(1.75rem, 1.75dvh);
  position: relative;
  transition: background-color 0.5s ease-in-out;
}

.tab:first-child {
  border-radius: min(3rem, 2dvh) min(3rem, 2dvh) min(1.75rem, 1.75dvh)
    min(1.75rem, 1.75dvh);
}

.tab:last-child {
  border-radius: min(1.75rem, 1.75dvh) min(1.75rem, 1.75dvh) min(3rem, 2dvh)
    min(3rem, 2dvh);
}

.tab-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: min(6%, 3dvh);
}

.tab-button img {
  width: min(5%, 5dvh);
  transition: transform 0.5s ease-in-out;
}

.tab-button p {
  text-align: center;
}

.tab-text {
  padding-inline: min(6%, 4dvh);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  font-weight: 200;
  font-size: min(2rem, 2dvh);
}

.tab.active {
  background-color: #6189b8;
}

.tab.active button p,
.tab.active p {
  color: #fff;
}

.tab.active button p {
  font-weight: 600;
}

.tab.active img {
  transform: rotate(180deg);
}

#request-section {
  min-height: 113dvh;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-color: #3e8de9;
  border-style: solid;
  border-width: max(3px, 0.25dvh);
  border-radius: min(3rem, 2dvh);
  padding: min(2%, 1dvh) min(4%, 2dvh);
  gap: min(2dvh, 1dvw);
}

.input-field {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: min(1dvh, 0.5dvw);
}

.input-field label {
  font-size: min(2rem, 2dvh);
  color: #555555;
}

.input-field input,
textarea {
  background-color: #d8e6f5;
  border-width: 0;
  border-radius: min(3rem, 2dvh);
  min-height: 5.5dvh;
  width: 100%;
  font-size: 100%;
  padding: min(4%, 2dvh);
}

.justify {
  justify-content: space-between;
}
