@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: fallback;
}

@font-face {
  font-family: "Eet Route";
  src: url("../fonts/eet_route.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: fallback;
}

* {
  font-family: "Onest", "Arial", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[theme="light"] {
  --background-color: #fff;
  --main-text-color: #323232;
  --buttons-text-color: #fff;
  --tab-backround-color: #ccdcee;
  --active-tab-text-color: #fff;
  --input-background-color: #d8e6f5;
  --footer-background-color: #282828;
  --label-text-color: #555555;
  --main-icon-color: #3f3f3f;
  --button-arrow-color: #fff;
  --placeholder-text-color: rgb(0 0 0 / 0.5);
  --tab-icon-color: #395576;
}

[theme="dark"] {
  --background-color: #252525;
  --main-text-color: #fff;
  --buttons-text-color: #252525;
  --tab-backround-color: #424e5c;
  --active-tab-text-color: #252525;
  --input-background-color: #4c5866;
  --footer-background-color: #000;
  --label-text-color: #d0d0d0;
  --main-icon-color: #fff;
  --button-arrow-color: #252525;
  --placeholder-text-color: rgb(255 255 255 / 0.5);
  --tab-icon-color: #0d233e;
}

body {
  background-color: var(--background-color);
}

section:not(:first-child) {
  scroll-margin-top: min(9dvh, 19dvw);
}

section.no-padding {
  padding: 0;
}

button {
  border: none;
  background: none;
}

a,
a:visited {
  font-size: min(2rem, 2dvh);
  color: #3e8de9;
  text-decoration: none;
}

address {
  font-style: normal;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 9dvh;
  width: 100%;
  background-color: var(--background-color);
}

nav {
  padding: min(4%, 2dvh) 8%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
}

.nav-button {
  width: min(6%, 2.75dvh);
}

.nav-button img,
.nav-button svg {
  width: 100%;
}

.nav-button svg path {
  fill: var(--main-icon-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

hr {
  border: none;
  height: min(3.25dvh, 4.5rem);
}

.screen-info {
  display: flex;
  flex-direction: column;
  gap: min(4%, 2dvh);
  padding: min(6%, 6dvh);
}

#main-title {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: min(5%, 5dvh) 1%;
}

#main-title p {
  font-size: min(3rem, 2.5dvh);
  font-weight: 300;
}

#main-title h1 {
  font-size: min(4rem, 3dvh);
  font-weight: 800;
  color: #3e8de9;
}

#main-title-background {
  width: 100%;
  max-height: 46.5%;
}

#main-title-delimiter {
  width: 100%;
  max-height: 20%;
}

#main-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: min(2dvh, 1dvw);
}

#routes-buttons {
  padding: min(7%, 7dvw);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: min(2dvw, 2dvh);
}

#routes-buttons button {
  padding: min(2%, 1dvh);
  height: min(13.5dvh, 28.5dvw);
}

#routes-buttons button:first-child {
  background-image: linear-gradient(to right, #5eb2ef, #8942f0);
  padding-block: min(4%, 2dvh);
  flex-direction: row;
  grid-column: span 2;
  height: auto;
}

#routes-buttons button:first-child p {
  color: #fff;
}

#routes-buttons button:first-child img {
  height: max(77.7%, 2dvw);
}

#main-buttons button,
#routes-buttons button {
  padding: min(4%, 1dvh);
  background-color: rgb(210 210 210 / 0.28);
  border-radius: min(3rem, 2dvh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(2dvw, 2dvh);
  color: #3f3f3f;
}

#main-buttons button p {
  font-size: min(2rem, 2dvh);
}

button svg {
  height: min(3dvh, 7dvw);
}

button svg path {
  fill: var(--main-icon-color);
}

#routes-button {
  grid-column: span 2;
}

main section:first-child {
  min-height: 91dvh;
}

#index-main-section {
  height: 91dvh;
  display: grid;
  grid-template-rows: 56% auto;
  background-image: radial-gradient(
    circle at 125% 35%,
    rgb(112 157 207 / 0.5),
    var(--background-color) 40%
  );
}

#route-main-section {
  /* Set by API (element.style.setProperty("--section-accent-color", "<color>")) */
  --section-accent-color: 211 216 0;

  --section-secondary-color: rgb(var(--section-accent-color) / 0.2);
  padding: min(7dvw, 3dvh) min(4.5dvw, 2dvh);
  display: flex;
  flex-direction: column;
  gap: min(5.5dvw, 3dvh);
  min-height: 91dvh;
  height: auto;
}

#route-about {
  padding: min(1dvw, 0.5dvh);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#route-data {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#route-data p:first-child {
  color: var(--main-text-color);
  font-size: min(6dvw, 3dvh);
  font-weight: 700;
}

#route-data p:last-child {
  color: #6c737b;
  font-size: min(3.5dvw, 1.7dvh);
  font-weight: 500;
}

#route-price,
#route-schedule,
#route-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(2dvw, 1dvh);
  gap: min(2dvw, 1dvh);
}

#route-price > p:first-child,
#route-schedule > p:first-child,
#route-map > p:first-child {
  font-size: min(4.5dvw, 2dvh);
  color: var(--main-text-color);
  font-weight: 500;
}

#route-map > p:last-child {
  font-size: min(3.5dvw, 1.5dvh);
  color: #878787;
}

#price-frame {
  display: flex;
  width: 100%;
  background-color: var(--section-secondary-color);
  border-color: rgb(var(--section-accent-color));
  border-width: min(0.5dvw, 0.25dvh);
  border-style: solid;
  border-radius: min(5.5dvw, 3dvh);
}

.price {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: min(3.5dvw, 1.5dvh) min(2dvw, 1dvh);
}

.price:first-child {
  border-radius: min(5.5dvw, 3dvh) 0 0 min(5.5dvw, 3dvh);
  border-right: rgb(var(--section-accent-color)) min(0.5dvw, 0.25dvh) solid;
}

.price:last-child {
  border-radius: 0 min(5.5dvw, 3dvh) min(5.5dvw, 3dvh) 0;
}

.price p,
#route-price a {
  color: rgb(var(--section-accent-color));
}

#route-price a {
  font-weight: 600;
}

#route-price a img {
  width: min(2dvw, 1dvh);
}

.price p:first-child {
  font-size: min(4.5dvw, 2dvh);
  font-weight: 500;
}

.price p:last-child {
  font-size: min(10.5dvw, 5dvh);
  font-weight: 800;
}

#table-wrapper {
  width: 100%;
  background-color: var(--section-secondary-color);
  border-radius: min(5.5dvw, 3dvh);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  color: rgb(var(--section-accent-color));
  backface-visibility: hidden;
}

th,
td {
  border-style: solid;
  border-color: rgb(var(--section-accent-color));
  border-width: min(0.5dvw, 0.25dvh);
}

th:first-child,
td:first-child {
  padding: min(2dvw, 1dvh) min(4dvw, 2dvh);
  text-align: left;
}

th:not(:first-child),
td:not(:first-child) {
  border-left: 0;
  padding: min(2dvw, 1dvh);
  text-align: center;
}

th,
tr:not(:last-child) td {
  border-bottom: 0;
}

tr th,
tr td {
  font-weight: 600;
}

tr th {
  font-size: min(4dvw, 2dvh);
}

tr td {
  font-size: min(3.5dvw, 2dvh);
}

tr.active td {
  background-color: rgb(var(--section-accent-color));
}

[theme="dark"] tr.active td {
  color: #000;
  mix-blend-mode: lighten;
}

[theme="light"] tr.active td {
  color: #fff;
  mix-blend-mode: darken;
}

thead tr th:first-child {
  border-top-left-radius: min(5.5dvw, 3dvh);
}

thead tr th:last-child {
  border-top-right-radius: min(5.5dvw, 3dvh);
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: min(5.5dvw, 3dvh);
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: min(5.5dvw, 3dvh);
}

footer {
  background-color: var(--footer-background-color);
  padding: min(6%, 3dvh) 1%;
  display: flex;
  flex-direction: column;
  gap: min(2dvw, 1dvh);
}

footer a {
  display: block;
}

#footer-info {
  font-size: min(2rem, 2dvh);
  color: #878787;
  padding-block: min(2dvw, 1dvh);
}

#footer-info p {
  text-align: center;
}

#footer-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: min(2dvw, 1dvh);
  color: #fff;
}

.footer-info-block p {
  text-align: center;
  font-size: min(2.25rem, 2.25dvh);
}

.footer-info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(2%, 1dvh);
  padding: min(2%, 1dvh);
}

.as-link {
  color: #3e8de9;
  font-size: min(1.75rem, 1.75dvh);
}

#about-section,
#payment-section,
#jobs-section {
  justify-content: space-between;
  min-height: 90dvh;
}

#about-section {
  background-image: radial-gradient(
    circle at 5% 40%,
    rgb(112 157 207 / 0.3),
    var(--background-color) 60%
  );
}

section h1 {
  font-size: min(5rem, 4.5dvh);
}

section p,
section li,
section button,
section div {
  font-size: min(2.5rem, 2.5dvh);
  color: var(--main-text-color);
}

#about-text {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 2dvh;
}

#about-info {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 2dvh;
}

#about-info button,
fieldset button {
  padding: min(5%, 1.25dvh) min(4%, 1dvh);
  background-color: #3e8de9;
  border-radius: min(1.5rem, 1dvh);
  color: var(--buttons-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

#about-info button svg,
fieldset button svg {
  width: min(5dvw, 2dvh);
}

#about-info button svg path,
fieldset button svg path {
  fill: var(--button-arrow-color);
}

ul {
  list-style-position: inside;
  padding-inline-start: min(4%, 1dvh);
}

#about-gallery {
  border-radius: min(3rem, 2dvh);
  position: relative;
  overflow: hidden;
}

#about-gallery-carousel {
  position: absolute;
  width: fit-content;
}

#payment-info,
#jobs-info {
  display: flex;
  flex-direction: column;
  gap: 2dvh;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  gap: max(0.5dvh, 0.5dvw);
}

#routes-tabs-wrapper {
  padding: min(7.5%, 7.5dvh);
}

.routes-tab {
  --section-accent-color: 196 61 75;

  --section-secondary-color: rgb(var(--section-accent-color) / 0.2);
  border-style: solid;
  border-color: rgb(var(--section-accent-color) / 0.5);
  border-width: max(2px, 0.2dvh);
  border-radius: min(6.5dvw, 3dvh);
  background-color: rgb(var(--section-accent-color) / 0.05);
  padding: min(4%, 2dvh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min(26dvw, 13dvh);
}

.routes-tab-route {
  display: flex;
  gap: min(3.8dvw, 1.8dvh);
}

.routes-tab-number {
  padding: min(3.5dvw, 1.5dvh);
  width: min(26.7dvw, 12.7dvh);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--section-accent-color));
  background-color: var(--section-secondary-color);
  border-color: rgb(var(--section-accent-color));
  border-width: min(0.5dvw, 0.25dvh);
  border-style: solid;
  border-radius: min(6.5dvw, 3dvh);
  font-family: "Eet Route", "Arial", sans-serif;
  letter-spacing: 10%;
  font-size: min(9.5dvw, 4.5dvh);
  font-weight: 700;
}

.routes-tab-status {
  display: flex;
  align-items: center;
}

.routes-tab-status p {
  color: var(--main-text-color);
  font-size: min(3.5rem, 3dvh);
}

.routes-tab svg {
  width: min(8%, 3dvh);
}

.inactive {
  opacity: 0.6;
}

.tab {
  background-color: var(--tab-backround-color);
  border-radius: min(1.75rem, 1.75dvh);
  position: relative;
  transition: background-color 0.25s ease-in-out;
  padding: min(2.5dvw, 1dvh) min(5dvw, 2.5dvh);
}

.tab:first-child {
  border-radius: min(3rem, 2dvh) min(3rem, 2dvh) min(1.75rem, 1.75dvh)
    min(1.75rem, 1.75dvh);
}

.tab:last-child {
  border-radius: min(1.75rem, 1.75dvh) min(1.75rem, 1.75dvh) min(3rem, 2dvh)
    min(3rem, 2dvh);
}

.tab-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: min(2.75dvw, 1.25dvh);
}

.tab-button svg {
  width: min(5%, 5dvh);
  transition: transform 0.25s ease-in-out;
}

.tab-button svg path {
  fill: var(--tab-icon-color);
}

.tab-button p {
  text-align: center;
}

.tab-text {
  padding-inline: min(6%, 4dvh);
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.25s ease-in-out,
    padding-block 0.25s ease-in-out;
  font-weight: 200;
  font-size: min(2rem, 2dvh);
}

.tab.active {
  background-color: #6189b8;
}

.tab.active button p,
.tab.active p {
  color: var(--active-tab-text-color);
}

.tab.active button p {
  font-weight: 600;
}

.tab.active svg {
  transform: rotate(180deg);
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-color: #3e8de9;
  border-style: solid;
  border-width: max(3px, 0.25dvh);
  border-radius: min(3rem, 2dvh);
  padding: min(4dvw, 2dvh) min(2dvw, 1dvh);
  gap: min(2dvh, 1dvw);
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: min(1dvh, 0.5dvw);
  padding: min(2dvw, 1dvh);
}

.input-block label {
  padding-inline-start: 1rem;
  font-size: min(2rem, 2dvh);
  color: var(--label-text-color);
}

.required::after {
  content: "*";
  color: #ff0000;
}

.input-block input,
.dropdown-button,
textarea {
  background-color: var(--input-background-color);
  border-width: 0;
  border-radius: min(3rem, 2dvh);
  min-height: 5.5dvh;
  width: 100%;
  font-size: 100%;
  padding: min(3dvw, 2dvh);
}

.dropdown {
  position: relative;
  height: 5.5dvh;
}

.dropdown-button {
  position: absolute;
  justify-content: space-between;
  z-index: 1;
}

.dropdown > button > svg {
  transition: transform 0.25s ease-in-out;
}

.dropdown.active > button > svg {
  transform: rotate(180deg);
}

.dropdown-content {
  overflow: hidden;
  max-height: 0;
  width: 100%;
  position: absolute;
  top: 2.75dvh;
  left: 0;
  transition: max-height 0.25s ease-in-out;
}

.dropdown-content > div {
  background-color: var(--input-background-color);
  min-height: 5.5dvh;
  padding: min(3dvw, 2dvh);
  display: flex;
}

.dropdown-content > div:first-child {
  padding: 0;
  min-height: 0;
}

.dropdown-content > div:last-child {
  border-radius: 0 0 min(3rem, 2dvh) min(3rem, 2dvh);
}

input::placeholder {
  color: var(--placeholder-text-color);
}

textarea {
  min-height: min(35dvw, 16.5dvh);
}

.justify {
  justify-content: space-between;
}

iframe {
  width: 100%;
  height: min(60dvw, 28.5dvh);
  border: rgb(var(--section-accent-color));
  border-width: min(0.6dvw, 0.3dvh);
  border-style: solid;
  border-radius: min(5.5dvw, 3dvh);
}
